.promisepay-server-error {
  color: red;
}

.text-danger {
  color: #a94442;
}

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#edit-payment-information-add-payment-method-payment-details-card-deets {
  width: 100%;
}
#edit-payment-information-add-payment-method-payment-details-card-deets .form-item {
  float: left;
}
.form-item-payment-information-add-payment-method-payment-details-mobile {
  clear: both;
}

.promisepay-card-form label {
  min-width: 98px;
}
label[for=edit-payment-information-add-payment-method-payment-details-card-deets-cvv] {
  padding-left: 70px;
}

#cover {
  position:fixed; top:0; left:0;
  background:rgba(0,0,0,0.6); z-index:1500;
  width:100%; height:100%;
}

#spinner {
  height: 60px;
  width: 60px;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  position: fixed;
  z-index: 1501;
  -webkit-animation: spinnerrotation .6s infinite linear;
  -moz-animation: spinnerrotation .6s infinite linear;
  -o-animation: spinnerrotation .6s infinite linear;
  animation: spinnerrotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, .15);
  border-right: 6px solid rgba(0, 174, 239, .15);
  border-bottom: 6px solid rgba(0, 174, 239, .15);
  border-top: 6px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

@-webkit-keyframes spinnerrotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes spinnerrotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes spinnerrotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes spinnerrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}