{#
/**
 * @file kyc.html.twig
 * Default theme implementation to present Know Your Customer data.
 *
 * This template is used when viewing Know Your Customer pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_kyc()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('kyc') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
