{#
/**
 * @file payout_portion.html.twig
 * Default theme implementation to present Payout portion data.
 *
 * This template is used when viewing Payout portion pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_payout_portion()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('payout_portion') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
